
#login-background {
    width: 100%;
    height: 100vh;
    background-color: black;
}

#heading{
    color: white;
    text-align: center;
    padding-top: 5%;
}

#header {
    width: 100%;
    height: 10%;
    margin: 0 auto;
    background-color: black;
    z-index: -1;
}

.login-form-container {
    width: 40%;
    height: 40%;
    background-color: rgb(141, 52, 52);
    border-radius: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    
}

form {
    background-color: rgb(141, 52, 52);

}

label {
    background-color: rgb(141, 52, 52);
    padding: 10%;
    display: block;
}

input {
    background-color: white;
    padding: 10%;
    display: block;
}

#login-submit-button {
    background-color: gray;
    margin-top: 5%;
}